<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.nama_awal}}" placeholder="Nama Awal"
      name="nama_awal">
    <label for="floatingInput">Nama Awal</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.nama_akhir}}" placeholder="Nama Akhir"
      name="nama_akhir">
    <label for="floatingInput">Nama Akhir</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="email@email.com"
      name="email">
    <label for="floatingInput">Email</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.nohp}}" placeholder="NoHP" name="nohp">
    <label for="floatingInput">NoHP</label>
  </div>
</div>
<div class="col-12">
  <div class="form-floating mb-3">
    <textarea class="form-control" placeholder="Silahkan Komentar disini" id="komen" name="komen"
      style="height: 200px">{{this.komen}}</textarea>
    <label for="komen">Komen</label>
  </div>
</div>
<div class="col-12 d-grid">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>